.minecraft/assets
.minecraft/libraries
.minecraft/versions
.minecraft/runtime
.minecraft/resourcepacks
.minecraft/logs
.minecraft/saves
.minecraft/downloads
.minecraft/options.txt
.minecraft/command_history.txt
.minecraft/servers.dat
.minecraft/servers.dat_old
.idea
logs

